name: ci-compile

on:
  push:
  pull_request:

jobs:
  check_types_compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.6
      - name: Install dependencies
        run: bun install
      - name: Check types
        run: bun run check-types
      - name: Compile
        run: bun run compile
