name: ci-lint-format

on:
  push:
  pull_request:

jobs:
  lint_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.6
      - name: Install dependencies
        run: bun install
      - name: Lint
        run: bun run lint
      - name: Format
        run: bun run fmt
