name: release-npm

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      id-token: write  # OIDC
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.6
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Publish to npm
        run: bun publish --access public

