name: release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.6
      - name: Read version
        id: version
        run: |
          VERSION=$(bun -e "import pkg from './package.json' assert { type: 'json' }; console.log(pkg.version);")
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          name: v${{ steps.version.outputs.version }}
          tag_name: v${{ steps.version.outputs.version }}
          generate_release_notes: true
  publish:
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      id-token: write # OIDC
      contents: read
    steps:
      - uses: actions/checkout@v4
      # https://github.com/oven-sh/bun/issues/15601#issuecomment-3713706799
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.6
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: test
        run: bun test
      - name: compile single file binary
        run: bun compile
      - name: Publish to npm
        # https://github.com/oven-sh/bun/issues/15601#issuecomment-3713706799
        run: bunx npm publish --provenance
